/* #root{
  background-color: #03071E;

} */

body {
  background: url(./assets/images/christian-wiediger-WkfDrhxDMC8-unsplash.jpg) no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  /* background: cover;  */
}